<<<<<<< HEAD
body
{
  font-family: Arial, Helvetica, sans-serif;
}
=======
<<<<<<< HEAD

/*--------------LOGIN-------------------*/


.cuerpo {
text-align: center;
margin: 0;
padding: 0;
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-family: sans-serif;
background-color: violet;
}

#container {
=======
>>>>>>> 1ab166f19459e529991ace45a34d9338c7e4228a
#index
{
  padding:0;
  font-size:15px;
<<<<<<< HEAD
=======
  font-family: Arial, Helvetica, sans-serif;

>>>>>>> 956b6a6ee5d325ae47a654ee478c7fce355fb74b
>>>>>>> 1ab166f19459e529991ace45a34d9338c7e4228a
}
#encabezado-index
{
  background-color: mediumvioletred;
  color:white;
  text-align: center;
  padding: 15px 0;
  
}
#bloque-usuario a{
  display:block;
  color:white;
  border: solid 1px transparent;
  border-radius: 100px;
  padding:5px;
  width: 60%;
  margin: 0 auto; 
  margin-bottom: 10px;
  background: linear-gradient(to bottom, #ff5b00 0, #ff1e00 100%);
}
#bloque-usuario a:hover{
  background: linear-gradient(to bottom,lightcoral 0, lightcoral 100%);
  text-decoration: none;
}
.index-imagen
{
  margin: 0 auto; 
  width: 40%;
}
#section-index
{
  padding: 30px 20px;
  background-color: aqua;
  color:white;
}
.bloque-index
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bloque-index .fa
{
  line-height: 25px;
  text-align: end;
}
.articulo-index
{
  margin: 0 auto;
  text-align: left;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#footer-index, #footer-contacto,#footer-registro, #footer-faq
{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 0;
}
#footer-contacto,#footer-registro, #footer-faq
{
 border-top: solid 1px #edf6f9;
}
#footer-index a, #footer-contacto a,#footer-registro a,#footer-faq a
{
  display: block;
  color:grey;
  font-size: 0.6em;
}
.index-imagen p:hover
{
 display:block;
}

#footer-index a:hover, #footer-contacto a:hover, #footer-registro a:hover
{
  color: plum;
}
#contacto, #registro, #faq
{
  padding:0;
  font-size:18px;
}
#encabezado-contacto,#encabezado-registro
{
  background-color: mediumvioletred;
  color:white;
}
#encabezado-contacto h1,#encabezado-registro h1
{
  text-align: center;
  font-size: 1.5em;
  padding-top: 15px;
  
}
#encabezado-contacto p, #encabezado-registro p
{
  color:black;
  font-weight: bold;
  border-top: solid 1px #eaeaea;
  padding-top: 5px;
}
#encabezado-contacto .home, #encabezado-registro .home, .bloque-home-faq 
{
  background: #edf6f9;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#encabezado-contacto .home a,#encabezado-registro .home a, .bloque-home-faq a
{
  display:block;
  background: linear-gradient(to bottom, #ff5b00 0, #ff1e00 100%);
  border: solid 1px transparent;
  color:white;
  padding: 5px;
  text-align: center;
  border-radius: 100px;
  font-size:0.8em;
}
#formulario-contacto input, #formulario-contacto select, #mensaje, #formulario-registro input, #formulario-registro select
{
 padding: 5px 5px;
 border: solid 1px #eaeaea;
 border-radius: 5px;
 margin-bottom: 5px;

<<<<<<< HEAD
.user-pass {
      min-height:345px;
    	transform-style:preserve-3d;
}
.user-pass .grupo,{
  margin-bottom:15px;
}
.user-pass .grupo label,
.user-pass .grupo .boton  {
  width:100%;
	color:#fff;
	display:block;
  text-align: left;
}
.user-pass .grupo input,
.user-pass .grupo .boton  {
  border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.user-pass .grupo .boton {
  background: red;
  text-align: center;
}
.user-pass .forgot a {
  text-decoration: none;
  color: white;

}
/*--------------FAQ-------------------*/
.body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
background: black;
height: 150px;
}

header h1 {
  color:white;
  margin: 0;
  padding: 0;
}

.tronco {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: gray;
}

.tronco .grupo h2 {
background-color: orange;
text-align: center;
height: 100px;
width: 200px;
margin: 0;
}


@media (min-width: @screen-lg-min) { ... }
=======
}
.boton-enviar, .boton-borrar
{
  color:white;
  padding: 5px 0;
  background: linear-gradient(to bottom, #ff5b00 0, #ff1e00 100%);
  border: solid 1px transparent;
  border-radius: 100px;
  margin-bottom: 6px;
}
.boton-enviar:hover,.boton-borrar:hover,#encabezado-contacto .home a:hover,#encabezado-registro .home a:hover
>>>>>>> 956b6a6ee5d325ae47a654ee478c7fce355fb74b
{
  background: linear-gradient(to bottom,lightcoral 0, lightcoral 100%);
  text-decoration: none;
}
#formulario-contacto input, #formulario-registro input 
{
  margin-bottom:10px;
}
#formulario-contacto label,#formulario-registro label
{
  margin-bottom: 0;
}
#articulo-registro 
{
  padding: 30px 0;
}
.bloque-login label, .bloque-login input,.bloque-login button, .bloque-login a
{
 display:inline-block;
 color:white;
 background-color:aqua;
}

.bloque-login form
{
  border:solid 1px white;
}
.bloque-form
{
 padding: -14px;
}
.login 
{
 background-color: aqua;
}
.bloque-login 
{
  font-size:15px;
  height: 100vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 40px;
}
.bloque-login input
{
  width: 100%;
  border-radius: 100px;
  border: solid 1px white;
  padding:5px;
}
.bloque-login form div 
{
  padding:15px;
  margin-right: 5px;
}
.bloque-login button
{
  width: 105%;
  border-radius: 100px;
  border: solid 1px #ddd;
  padding:5px;
  background: linear-gradient(to bottom, #ff5b00 0, #ff1e00 100%);
  color:white;
}
.titulo-login 
{
  color: white;
  font-size: 1.5em;
  text-align: center;
}
.imagen-login
{
  border: solid 1px white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  position: absolute;
  top:-45px;
  left:50%;
  text-align: center;
  line-height: 75px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.imagen-login svg
{
  font-size: 80px;
  text-align: center;
  color:white;
}
.faq
{
  padding: 0;
}
.cabezera-faq h1
{
  background-color: mediumvioletred;
  text-align: center;
  font-size:2em;
  color:white;
  padding: 5px 0;
  margin-bottom: 0;
}

.bloque-home-faq a
{
  display: block;
  background: linear-gradient(to bottom,#ff5b00 0, #ff1e00 100%);
  border: solid 1px transparent;
  color:white;
  padding: 5px;
  text-align: center;
  border-radius: 100px;
  font-size: 0.9em;
  width: 8%;
}
.bloque-home-faq p
{
  font-size:1.2em;
  font-weight: bold;
  margin-top: 10px;
}
.articulo-faq
{
 text-align: center;
 font-size:1em;
 padding: 15px 5px;
 display:flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-top:0;
}
.articulo-faq h2
{
  font-size:1em;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
}
.articulo-faq p, .articulo-faq a 
{
  text-align: left;
  font-size:1em;
}
.articulo-faq a 
{
  color:grey;
  margin-bottom: 15px;
  display: block;
}
.seccion-faq 
{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  align-items:center;
}

@media (min-width:768px)
{
  #footer-index a,#footer-contacto a,#footer-registro a, #footer-faq a
  {
    font-size: 0.8em;
  }
  #footer-faq
  {
   text-align: center;
  }
}
@media (min-width:992px)
{
  #footer-index a,#footer-contacto a,#footer-contacto a, #footer-faq a
  {
    font-size: 1em;
  }
  .articulo-faq h2, .articulo-faq p, .articulo-faq a
  {
    text-align: center;
  }

.bloque-inicio-faq
{
  display:none;
}
#articulo-contacto
{
  padding: 10px 0;
}
.articulo-faq 
{
  border: solid 1px #edf6f9;
}
.articulo-faq h2
{
  border-right: solid 1px #edf6f9;
}

}
@media (min-width:1200px)
{
  #index
  {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #encabezado-index, #section-index
  {
    height: 93vh;
  }
  #footer-index
  {
    height: 7vh;
  }
  .bloque-index:first-child
  {
    margin-top: 220px
  }
  .bloque-index
  {
    font-size:2em;
  }
  .bloque-index .fa
{
  line-height: 45px;
}
#formulario-contacto,#formulario-registro
{
  width: 50%;
  margin: 0 auto;
}
.botones 
{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.imagen-login
{
  top:60px;
}

}